@use "../abstracts" as *;

html {
  border-top: 13px;
  border-right: 13px;
  border-left: 0;
  border-style: solid;
  border-color: #fff;
  overflow-x: hidden;
}

body {
  font-family: 'Bingar', sans-serif;
  font-weight: 400;

}
  
h1, h4 {
  font-family: 'Hagrid', sans-serif;
  font-weight: 800; // Uses Hagrid-Text-Extrabold
}

p, h3, h5, li {
  font-family: 'Bingar', sans-serif;
  font-weight: 400; // Uses Hagrid-Regular
}
