@font-face {
  font-family: 'Hagrid';
  src: url('/public/assets/fonts/Hagrid-Text-Extrabold-trial.ttf') format('truetype');
  font-weight: 800; // Extrabold
  font-style: normal;
}

@font-face {
  font-family: 'Hagrid';
  src: url('/public/assets/fonts/Hagrid-Regular-trial.ttf') format('truetype');
  font-weight: 400; // Regular
  font-style: normal;
}

@font-face {
  font-family: 'Bingar';
  src: url('/public/assets/fonts/BingarDEMO-Regular.otf') format('opentype');
  font-weight: 400; // Regular
  font-style: normal;
}
