// breakpoints up
$breakpoints-up: ("sm":"640px", "medium": "768", "large":"1024px", "x-large":"1280px", "2xl": "1536px"); 

// breakpoints down
$breakpoints-down: ("sm": "639px", "medium":"767px", "large":"1023px", "x-large":"1279px", "2xl": "1535px"); 

// colors
$colors: (
  "text": #fff,
  "green": #19EC60,
  "blue": #0C30AE,
  "black-olive": #151C02,  
  "green-olive": #041C0C
);

