// breakpoints up
$breakpoints-up: ("medium":"640px", "large":"1024px", "x-large":"1400px"); 

// breakpoints down
$breakpoints-down: ("medium":"639px", "large":"1023px", "x-large":"1399px"); 

// colors
$colors: (
  "text": #fff,
  "primary-green": #19EC60,
  "secondary-blue": #0C30AE,
  "olive-black": #151C02  
);

